<div class="container">
  <div class="row">
    <h4>DELETE this later: This page is currently static, backend needs to be tweaked</h4>
    <h3>Here are all the item(s) available for rent:</h3>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <button class="alertRent">Rent</button> REI Dome tent</li>
        <li class="list-group-item"> <button class="alertRent">Rent</button> Roomba iRobot vacuum cleaner</li>
        <li class="list-group-item"> <button class="alertRent">Rent</button> 3D printer</li>
      </ul>
    </div>
  </div>
</div>


<!-- <script>
    $(".alertRent").click(function() {
      alert("Thank you for renting this item!" );
    });
</script> -->

<div class="container">
<!-- List all available items here -->

<hr><hr>

  <div class="row">
    {{!-- Product list before exchange --}}
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="panel-panel default">
          <ul class="list-group">
          {{#each Product}}
            {{#unless this.exchanged}}
            <li class="list-group-item">
              <div class="input-group">
                <p class="lead"> {{this.product_name}} </p>
                <i class="lead">{{this.pricing}} </i>
                <i class="lead">{{this.short_description}} </i>
                <i class="lead">{{this.photo}} </i>

                <span class="input-group-btn">
                  <form action="products/update/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="exchanged" value="true">
                    <button onclick="Thanks for renting this product!" class="btn btn-default" type="submit">Rent the product</button>
                  </form>
                </span>
              </div>
            </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>


      {{!-- products list after exchange --}}
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default">
          <ul class="list-group">
          {{#each Product}}
            {{#if this.exchanged}}
            <li class="list-group-item">
              <p class="lead">{{this.product_name}} </p>
              <i class="lead">{{this.pricing}} </i>
              <i class="lead">{{this.short_description}} </i>
              <i class="lead">{{this.photo}} </i>

              </li>
            {{/if}}
          {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4 col-md-offset-2">
      <div class="panel-panel default">
        <ul class="list-group">
        {{#each Product}}
          {{#unless this.exchanged}}
          <li class="list-group-item">
            <div class="input-group">
              <p class="lead"> {{this.product_name}} </p>
              <i class="lead">{{this.pricing}} </i>
              <i class="lead">{{this.short_description}} </i>
              <i class="lead">{{this.photo}} </i>

              <span class="input-group-btn">
                <form action="products/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="exchanged" value="true">
                  <button class="btn btn-default btn-lg" type="submit">Rent the product</button>
                </form>
              </span>
            </div>
          </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div> -->
  </div>
</div>
